@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bayon', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
}

.content {
  height: 100vh;
  background: url("images/ecomhero.png");
  background-color: #888;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.navigation {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-top: 35px;
  margin-left: 25px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 40px;
  left: 25px;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  font-size: 30px;
  margin-top: -15px;
}

nav { 
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1.5em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover {
  color: #FFC80E;
  transition-duration: .3s;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 350ms ease-in-out;
}

/* Media query for desktop */

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
 
  .navigation {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 1.75em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
}

section {
  display: flex;
  justify-content: center;
  background-color: #2B3336;
  padding: 45px;
}

.card {
  width: 250px;
  padding: 15px;
  margin: 10px;
  color: #0F0F0F;
  background-color: #B7D8E7;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 600px) {
  .container {
    display: block;
    /*grid-template-columns: repeat(1,1fr);*/
  }
}